.editor-container {
    position:relative;
    top: 0;
    width: 60%;
    height: 100%;
    right: 15px;
    padding: 20px;
    margin-top: 0.1875rem;
    background-color: #1e1e1e;
    color: white;
    border-radius: 20px;
    margin-left: 40%;
    box-sizing: border-box; 
    overflow: hidden;
}

/* Language Selector */
.language-selector {
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

/* Styled Dropdown */
.language-selector select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 200px;
    padding: 10px 40px 10px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #2d2d2d;
    border: 1px solid #444;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

/* Dropdown Arrow */
.language-selector::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -155px;
    transform: translateY(-50%);
    width: 200px;  /* Adjust the size */
    height: 16px;
    background-image: url('/public/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}

/* Hover and Focus Effects */
.language-selector select:hover,
.language-selector select:focus {
    border-color: #666;
    background-color: #3a3a3a;
    outline: none;
}

.editor-wrapper {
    width: 100%;
    overflow: hidden;
}

.button-container {
    margin-top: 10px;
}

.run-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.run-button:hover {
    background-color: #45a049;
}

.run-button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

.output-container {
    margin-top: 20px;
    border-radius: 20px;
    background-color: #2d2d2d;
}

.output-content {
    background-color: #2d2d2d;
    padding: 10px;
    color: white;
    white-space: pre-wrap; /* Preserve formatting for pre tags */
}