.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 80%;
    padding: 15px;
    background-color: hsl(244, 24%, 26%);
    justify-content: end;
}

.grid button {
    box-sizing: border-box;
    width: 80px;
    padding: 5px;
    font-size: 14px;
    background-color: var(--title-color);
    color: lightgray;
    border: 2px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
}

.grid button:hover {
    
}